.loading {
    width: 100px;
    margin: auto;
}

.search-input {
    width: 250px;
    margin-bottom: 10px;
}

.resultCount {
    color: #808080;
}

.result-query {
    font-weight: bold;
}

#searchResults {
   margin-top: 10px;
}

.pagination {
	margin: 16px 8px 16px 8px;
}
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
	background-color: #0d3760;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* collapsible */
input[type='checkbox'].collapse-toggle {
   display: none;
}

.lbl-toggle {
   cursor: pointer;
   transition: all 0.25s ease-out;
}
 
.lbl-toggle::before {
   content: ' ';
   display: inline-block;
 
   border-top: 5px solid transparent;
   border-bottom: 5px solid transparent;
   border-left: 5px solid currentColor;
 
   vertical-align: middle;
   margin-right: .1rem;
   transform: translateY(-2px);
 
   transition: transform .2s ease-out;
}

.collapse-toggle:checked + .lbl-toggle::before {
   transform: rotate(90deg) translateX(-3px);
}
 
.collapse-toggle:checked + .lbl-toggle {
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
}

.collapsible {
   padding: 0 11px;
   max-height: 0;
   overflow: hidden;
   transition: max-height .25s ease-in-out;
}

.input-block {
   border-bottom: 1px dashed gray;
   margin-bottom: 5px;
   max-width: 256px;
}

.group-label {
   font-weight: bold;
   margin-left: 7px;
}