.search-input {
    width: 250px;
}

.resultCount {
    color: #808080;
}

.pagination {
	text-align: center;
	margin: 16px 8px 16px 8px;
}
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
	background-color: #4CAF50;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}